*{
    margin: 0;
    padding: 0;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
}

.primary-nav ul{
    list-style: none;
    display: flex;
}

.primary-nav ul li a{
    text-decoration: none;
    display: block;
    margin-left: 32px;
}